nav {
    /* border: 1px solid green; */
    height: var(--nav_height);
    display: flex;
    align-items: center;
    /* position: sticky;
    top: 0;
    left: 0; */
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    background-color: var(--white_color);
}

.nav_container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav_items {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    gap: 2.3rem;
    font-size: var(--font_xsm);
    font-weight: 400;
    color: var(--secondary_sctn_txt_color);
}

.nav_items a {
    /* color: inherit; */
    /* text-decoration: none; */
    text-transform: uppercase;
    padding: 5px 20px;
    transition: var(--transition);
}

.nav_items li:last-child a {
    /* color: red; */
    padding-inline: 0;
}

.nav_items a:hover:not(.active_nav) {
    color: var(--primary_sctn_txt_color);
}

.nav_items a.active_nav {
    border-top: 1px solid var(--secondary_sctn_txt_color);
    border-bottom: 1px solid var(--secondary_sctn_txt_color);
    /* padding: 5px 20px; */
}
