nav {
    height: var(--nav_height);
    display: flex;
    align-items: center;
    /* position: sticky;
    top: 0;
    left: 0; */
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    background-color: var(--white_color);
    z-index: 99;
}

.nav_container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav_items {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    gap: 2.3rem;
    font-size: var(--font_xsm);
    font-weight: 400;
    color: var(--secondary_sctn_txt_color);
}

.nav_items a {
    text-transform: uppercase;
    padding: 5px 20px;
    transition: var(--transition);
}

.nav_items li:last-child a {
    padding-inline: 0;
}

.nav_items a:hover:not(.active_nav) {
    color: var(--primary_sctn_txt_color);
}

.nav_items a.active_nav {
    border-top: 1px solid var(--secondary_sctn_txt_color);
    border-bottom: 1px solid var(--secondary_sctn_txt_color);
}

/* ====== hamburger ======= */
.hamburger {
    width: fit-content;
    height: 28px;
    /* display: flex; */
    flex-direction: column;
    gap: 1.8px;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    display: none;
}

.hamburger span {
    display: inline-block;
    width: 25px;
    height: 3px;
    background-color: var(--footer_color);
    border-radius: 3px;
    transition: transform 0.2s ease-in, opacity 0.1s ease-in;
}

.hamburger.close span:nth-child(1) {
    transform: translateY(5px) rotate(45deg);
}

.hamburger.close span:nth-child(2) {
    transform: scaleX(0);
    opacity: 0;
}

.hamburger.close span:nth-child(3) {
    transform: translateY(-5px) rotate(-45deg);
}

@media screen and (max-width: 950px) {
    nav {
        height: var(--nav_height_mobile);
    }

    .hamburger {
        display: flex;
    }

    .nav_items.hide_nav {
        display: none;
    }

    .nav_items.show_nav {
        display: flex;
        position: absolute;
        flex-direction: column;
        top: 100%;
        right: 5%;
        background-color: var(--footer_color);
        width: 200px;
        gap: 1.5rem;
        font-size: var(--font_sm);
        color: var(--white_color);
        padding: 10px 0 15px;
        border-radius: 6px 0 6px 6px;
    }

    .nav_items a {
        padding-block: 10px;
    }

    .nav_items li:last-child a {
        padding: 5px 20px;
    }

    .nav_items a:hover:not(.active_nav) {
        padding-left: 30px;
    }

    .nav_items a.active_nav {
        border: none;
        color: var(--primary_sctn_txt_color);
    }
}
