.project_container {
    display: grid;
    gap: 2rem;
    padding: 2rem 0 6rem;
}

.project_container p {
    margin: 0;
}

.project_head {
    font-size: var(--font_xlg);
    font-weight: 700;
    line-height: 64px;
}

.project_head span {
    font-weight: 300;
    color: #bdbdbd;
}

.project_item_container {
    margin-bottom: 2rem;
    display: grid;
    gap: 3rem;
}

.project_item {
    display: grid;
    grid-template-columns: 57.3% 42.7%;
    background-color: var(--about_sectn_bg_color);
}

.project_image img {
    display: inline-block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.project_info {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    font-weight: 300;
    padding: 2rem;
}

.project_info > * {
    height: fit-content;
}

.project_title {
    font-size: var(--font_lg);
    color: var(--primary_sctn_txt_color);
    line-height: 44.88px;
}

.project_body {
    font-size: var(--font_md);
    line-height: 25px;
}

.project_viewmore {
    width: fit-content;
    padding: 1.4rem 3rem;
    background-color: var(--white_color);
    display: flex;
    align-items: center;
    gap: 1.5rem;
    cursor: pointer;
    transition: var(--transition);
}

.project_viewmore:hover {
    transform: scale(1.05);
}

@media screen and (max-width: 750px) {
    .project_item {
        display: grid;
        grid-template-columns: 1fr;
        border-radius: 10px;
        overflow: hidden;
    }
}
