@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

:root {
    --primary_txt_color: #333333;
    --primary_sctn_txt_color: #bdbdbd;
    --secondary_sctn_txt_color: #333333;
    --focus_statement_no_color: #f2f2f2;
    --contact_us_bg_color: #f3f3f3;
    --about_sectn_bg_color: #fbfbfb;
    --footer_color: #2c2c2c;
    --footer_copyright_color: #c8c8c880;
    --black_color: black;
    --white_color: white;

    --font_xsm: 0.75rem; /* 12px */
    --font_sm: 0.875rem; /* 14px */
    --font_md: 1rem; /* 16px */
    --font_xmd: 1.5rem; /* 24px */
    --font_lg: 2.5rem; /* 40px */
    --font_xlg: 4rem; /* 64px */
    --font_xxlg: 12.5rem; /* 200px */

    --max_width: 1240px;

    --nav_height: 102px;
    --nav_height_mobile: 70px;

    --transition: all 0.3s ease-in-out;
}

body {
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
    background-color: var(--white_color);
}

*,
*::after,
*::before {
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: inherit;
}

.wrapper {
    max-width: var(--max-width);
    width: 80%;
    /* border: 1px solid red; */
    margin-inline: auto;
}

section {
    margin-top: var(--nav_height);
}

@media screen and (max-width: 950px) {
    .wrapper {
        width: 90%;
    }

    section {
        margin-top: var(--nav_height_mobile);
    }
}
